<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/home.css'>
</head>
<body>

    

    <div id='leftHalf'>
        <div id='textBox'>
            <p>THE THIRD</p>
            <p>LOATHSOME</p>
            <p>WHOLESOME</p>
            <p>TYPEWRITER</p>
        </div>
    </div>

    <div id='rightHalf'>
        <div id='header'>
            <h3>"There's two types of people. Losers, and those who can type over 100 words per minute"</h3>
        </div>
        <div id='body'>
            <div id='progress'>
                Have a chart with speed vs date
            </div>
            <div id='menu'>
                <div>
                    <a href='/workpage/foxInSocks'>Fox In Socks</a>
                    progress bar and percentage
                    reset continue buttons
                </div>
                <div>
                    <a href='/workpage/bobRoss'>Bob Ross</a>
                </div>
                <div>
                    <a href='/workpage/alexJones'>Alex Jones</a>
                </div>
            </div>
        </div>
    </div>



</body>
</html>



