<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/shiftingHome.css'>
    <script src='/scripts/shiftingHome.js'></script>
</head>
<body>

    <div id='leftHalf'>
        <div id='image'>
        </div>
        <div id='textBox'>
            <div id='titleBox'>
                THE LOATHSOME WHOLESOME TYPEWRITER
            </div>
            
            <div id='descriptionBox'>
                <div id='topPArrow'>&#8250;</div>
                <div id='topText'>Practice speed-typing by typing over your favorite video transcripts, featuring Bob Ross, Dr.Seuss, Alex Jones, and many more.</div> 
                <hr>
                <div id='bottomPArrow'>&#8250;</div>
                <div id='bottomText'>Need someone on the sidelines coaching you? Worry not. Our embedded A.I. has an adjustable personality ranging from Gordom Ramsay to Mr. Rogers that will make sure YOU stay motivated on your journey to typing excellence.</div> 
            </div>
        </div>

        <div id='moveLeft'>
            &#8250;
        </div>
        
    </div>

    <div id='rightHalf'>
        <div id='moveRight'>
            &#8249;
        </div>

        <div id='rightImage'></div>

        <div id='motivationalBox'>
            <div id='motivationalQuote'>"There's two types of pople in this world. There's losers, nobodies, mediocre people who will never amount to anything. And then there's those who can type over 100 wpm"</div>
            <div id='motivationalAuthor'>-The Wholesome Typewriter</div>
        </div>

        <div id='menu'>
            <div class='author'>Alex Jones</div>
            <div class='workpageOption'>
                <div class='workpageTitle'>On The Nature of Dreams</div>
                <div class='workpageProgressbar'>BAR</div>
                <div class='workpageProgressPercent'>%</div>
                <button class='continue'><a href='/workpage/alexJonesDreams'>CONTINUE</a></button>
                <button class='reset'>RESET</button>
                <div class='confirm hidden'>ARE YOU SURE?</div>
                <div class='no hidden'>NO</div>
                <div class='yes hidden black'>YES</div>
            </div>
            <div class='author'>Bob Ross</div>
            <div class='workpageOption'>
                <div class='workpageTitle'>Shades of Gray</div>
                <div class='workpageProgressbar'>BAR</div>
                <div class='workpageProgressPercent'>%</div>
                <button class='continue'><a href='/workpage/shadesOfGray'>CONTINUE</a></button>
                <button class='reset'>RESET</button>
                <div class='confirm hidden'>ARE YOU SURE?</div>
                <div class='no hidden'>NO</div>
                <div class='yes hidden black'>YES</div>
            </div>
            <div class='author'>Dr. Seuss</div>
            <div class='workpageOption'>
                <div class='workpageTitle'>Fox In Socks</div>
                <div class='workpageProgressbar'>BAR</div>
                <div class='workpageProgressPercent'>%</div>
                <button class='continue'><a href='/workpage/foxInSocks'>CONTINUE</a></button>
                <button class='reset'>RESET</button>
                <div class='confirm hidden'>ARE YOU SURE?</div>
                <div class='no hidden'>NO</div>
                <div class='yes hidden black'>YES</div>
            </div>
            <div class='author'>Tonald Drump</div>
            <div class='workpageOption'>
                <div class='workpageTitle'>Axios Interview</div>
                <div class='workpageProgressbar'>BAR</div>
                <div class='workpageProgressPercent'>%</div>
                <button class='continue'><a href='/workpage/tonaldDrump'>CONTINUE</a></button>
                <button class='reset'>RESET</button>
                <div class='confirm hidden'>ARE YOU SURE?</div>
                <div class='no hidden'>NO</div>
                <div class='yes hidden black'>YES</div>
            </div>
            
        </div>





    </div>

    <script>
        
        /* toggles right-left halves */
        var LH=document.getElementById('leftHalf');
        var RH=document.getElementById('rightHalf');
        document.getElementById('moveLeft').addEventListener('mouseover',open);
        function open(){
            LH.style.width='5%';
            RH.style.width='95%';
            document.getElementById('moveLeft').style.display='none';
            setTimeout(()=>{
                document.getElementById('moveRight').addEventListener('mouseover',close);
                document.getElementById('moveRight').style.display='block';
            },500) 
        }
        function close(){
            LH.style.width='95%';
            RH.style.width='5%';
            document.getElementById('moveRight').style.display='none';
            setTimeout(()=>{
                document.getElementById('moveLeft').addEventListener('mouseover',open);
                document.getElementById('moveLeft').style.display='block';
            },500)    
        }


        /* shows reset confirmation and yes/no buttons */
        var resetbtns=document.getElementsByClassName('reset');
        for (var i=0;i<resetbtns.length;i++){
            resetbtns[i].addEventListener('click',(event)=>{
                var sure=event.target.nextElementSibling;
                var yes=sure.nextElementSibling;
                var no=yes.nextElementSibling;

                sure.classList.remove('hidden');
                yes.classList.remove('hidden');
                no.classList.remove('hidden');
                
            })
        }
        var yesbtns=document.getElementsByClassName('yes');
        for (var i=0;i<yesbtns.length;i++){
            yesbtns[i].addEventListener('mouseover',(event)=>{
                event.target.classList.remove('black');
                event.target.previousElementSibling.classList.add('black');  
            })
        }
        var nobtns=document.getElementsByClassName('no');
        for (var i=0;i<nobtns.length;i++){
            nobtns[i].addEventListener('mouseover',(event)=>{
                event.target.classList.remove('black');
                event.target.nextElementSibling.classList.add('black');  
            })
            nobtns[i].addEventListener('click',(event)=>{
                event.target.previousElementSibling.classList.add('hidden');
                event.target.nextElementSibling.classList.add('hidden');
                event.target.classList.add('hidden');
            })
        }

    </script>

</html>



