

#leftHalf{margin:0;
border:thin solid black;
background-image: url(../images/typewriter.jpg);
background-size:650px 400px;
background-position: 150% 20%;
background-size:800px 600px;
position: absolute;
top:0;
left:0;
bottom:0;
right:50%;
}

#textBox{font-family: 'Special Elite', cursive;
font-size:50px;
letter-spacing: 2px;
color:black;
background-image: linear-gradient(180deg, #000000 2.38%, #f9f9b0 2.38%, #f9f9b0 50%, #000000 50%, #000000 52.38%, #f9f9b0 52.38%,  #f9f9b0 100%);
background-size: 42.00px 42.00px;
margin:20% 0 0 40%;
padding:4% 0 0 7%;
text-align: left;
border:3px solid #f9f9b0b4;
box-shadow:0 0 5px black;
}



#rightHalf{position:absolute;
background-image: url(../images/textures/12.jpg);
background-size: 100% 100%;
right:0;
top:0;
bottom:0;
left:50%;
border:thin solid black;
}
#header{font-family: 'Special Elite', cursive;
font-size:50px;
letter-spacing: 2px;
color:rgb(26, 23, 23);
margin:20px 20px}






