#leftHalf{left:0;
top:0;
width:95%;
height:100%;
position:absolute;
transition:.5s;
background-color:black}

#moveLeft{position:absolute;
top:40%;
right:10px;
color:white;
font-size: 100px;
}

#textBox{font-family: 'Special Elite', cursive;
color:black;
background-color: #f9f9b0;
border:3px solid #f9f9b0b4;
box-shadow:0 0 15px rgb(153, 148, 148);
position:absolute;
top:20%;
right:200px;
width:800px;
height:400px;
}
#titleBox{position:absolute;
top:0;
left:0;
font-size:55px;
letter-spacing: 2px;
background-image: linear-gradient(180deg, #000000 2.38%, #f9f9b0 2.38%, #f9f9b0 50%, #000000 50%, #000000 52.38%, #f9f9b0 52.38%,  #f9f9b0 100%);
background-size: 42.00px 42.00px;
margin:10px;
width:47%;
border:thin solid black;
border-radius:15px;
padding:20px 5px;
font-weight: bold;
}
#descriptionBox{font-size:17px;
letter-spacing:1px;
position:absolute;
top:0;
right:0;
width:47%;
height: 372px;
background-image: linear-gradient(180deg, #000000 2.38%, #f9f9b0 2.38%, #f9f9b0 50%, #000000 50%, #000000 52.38%, #f9f9b0 52.38%,  #f9f9b0 100%);
background-size: 42.00px 42.00px;
border:thin solid black;
border-radius: 15px;
margin:10px;
padding:8px;
font-weight: bold;
}


#image{position:absolute;
top:0;
right:0;
width:1300px;
height:100%;
background-image: url(../images/typewriter.jpg);
background-size:110% 120%;
background-position: 120px -40px;
background-repeat: no-repeat;
transform: scaleX(-1);
}
#topPArrow{font-size:40px;
position:absolute;
top:5px;
left:2px;}
#topText{position:relative;
top:14px;
left:10px;
line-height:1.28}
#bottomPArrow{font-size:40px;
position:absolute;
top:110px;
left:2px;}
#bottomText{position:relative;
top:3px;
left:10px;
line-height:1.28}

#rightHalf{position:absolute;
right:0;
top:0;
width:5%;
height:100%;
transition:.5s;
background-color:blue;
}

#moveRight{position:absolute;
top:40%;
left:10px;
color: white;
font-size:100px;
display:none;
z-index:1}

#rightImage{position:absolute;
top:0;
left:0;
width:1300px;
height:100%;
background-image: url(../images/textures/12.jpg);
background-size:110% 120%;
background-repeat: no-repeat;
}

#motivationalBox{font-family: 'Special Elite', cursive;
color:black;
font-size:25px;
position:relative;
width:1000px;
top:20px;
left:200px;
}
#motivationalAuthor{text-align:right}

#menu{background:whitesmoke;
position:relative;
top:100px;
left:150px;
width:1000px;
height:300px;
margin:20px;
font-family: 'Special Elite', cursive;
padding:20px;
}

.author{font-weight:bold}
.workpageOption{width:100%;
display:flex;
margin-top:5px;
margin-left:30px;}
.workpageTitle{width:300px;
padding-top:4px;}
.workpageProgressbar{width:150px;}
.workpageProgressPercent{width:40px;
padding-top:4px;}
.continue{margin-left:15px;}
.reset{margin:0 15px;}


.hidden{display:none}
.black{background:black}
.confirm{padding-top:4px;}
.no{margin-left: 15px;
padding:4px 7px 0 7px ;
color:black;
border-radius:7px 0 0 7px;
border: thin solid black;}
.yes{padding:4px 7px 0 7px;
color:black;
border-radius:0 7px 7px 0;
border:thin solid black}




